body {
  // background-color: pink;
}
@mixin fangda() {
  transition: all 1s;
  &:hover {
    transform: scale(1.2);
  }
}
$color: #cc9756;
// 主页主体内容
.main {
  .main_banner {
    height: 420px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 新品首发
  .arrival {
    position: relative;
    padding-top: 38px;
    height: 510px;
    .arr_left {
      float: left;
      h2 {
        font-size: 28px;
        color: #000;
        font-weight: bold;
        display: block;
        float: left;
        &:hover {
          color: $color;
        }
      }
      span {
        display: block;
        float: left;
        font-size: 14px;
        margin-left: 20px;
        font-weight: normal;
        margin-top: 16px;
      }
    }
    .arr_right {
      margin-top: 16px;
      float: right;
    }
    .newlist {
      overflow-x: hidden;
      .li_prev {
        position: absolute;
        left: -80px;
        z-index: 9;
        top: 240px !important;
        width: 50px;
        height: 50px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        opacity: 80;
        border-radius: 25px;
        font-size: 30px;
        background-color: #e7e2d7;
      }
      .li_next {
        position: absolute;
        right: -80px;
        z-index: 9;
        top: 240px !important;
        width: 50px;
        height: 50px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        opacity: 80;
        border-radius: 25px;
        font-size: 30px;
        background-color: #e7e2d7;
      }
      .newul {
        margin-top: 10px;
        width: 2200px;
        // ------------------------------------------------------------------
        li {
          float: left;
          background-color: #fff;
          margin-right: 10px;
          padding-bottom: 6px;
          &:hover {
            background-color: rgb(244, 240, 234);
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
          }
          .li_top {
            display: block;
            img {
              width: 265px;
              height: 265px;
            }
          }
          .li_buttom {
            display: block;
            text-align: center;
            p {
              width: 150px;
              text-align: center;
              margin: 0 auto;
              color: #000;
              line-height: 20px;
              &:hover {
                color: $color;
              }
            }
            span {
              color: #d4282d;
            }
          }
        }
      }
    }
    .arrival_left {
      width: 110px;
      box-sizing: border-box;
      background: #fff;
      position: absolute;
      left: -180px;
      top: 50px;
      border: 1px solid #ccc;
      padding: 0 16px 10px;
      p {
        font-size: 16px;
        color: #bb3343;
        text-align: center;
        line-height: 38px;
        height: 38px;
        display: block;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        font-weight: 700;
        cursor: default;
      }
      li {
        cursor: pointer;
        margin-top: 10px;
        img {
          width: 30px;
          height: 30px;
          display: block;
          margin-right: 8px;
          float: left;
        }
        span {
          display: block;
          font-size: 12px;
          // margin-top: 10px;
        }
        &:hover {
          color: #bb3343;
        }
      }
    }
  }
  // 人气推荐
  .rec_box {
    padding: 60px 0;
    background: #f4f0ea;
    .recom_top {
      .a_left {
        display: block;
        float: left;
        h3 {
          font-size: 28px;
          color: #000;
          font-weight: bold;
          display: block;
          float: left;
          &:hover {
            color: $color;
          }
        }
        .span_left {
          display: block;
          float: left;
          font-size: 14px;
          margin-left: 40px;
          font-weight: normal;
          margin-top: 8px;
          color: $color;
          padding: 4px;
          border-bottom: 2px solid $color;
        }
        .span_right {
          display: block;
          float: left;
          font-size: 14px;
          margin-left: 40px;
          font-weight: normal;
          margin-top: 8px;
          // color: $color;
          padding: 4px;
          // border-bottom: 2px solid $color;
        }
      }
      .a_right {
        float: right;
      }
    }
    .recom_main {
      text-align: center;
      padding-top: 20px;
      .rec_bigleft {
        width: 390px;
        height: 570px;
        background: #fff;
        float: left;
        .rec_bigimg {
          width: 390px;
          height: 320px;
          border-bottom: 1px solid #ccc;
          img {
            width: 320px;
            height: 320px;
            margin: 40px 35px;
            @include fangda();
          }
        }
        .xrtj {
          height: 20px;
          line-height: 20px;
          color: #fff !important;
          padding: 0 5px;
          width: 70px;
          background-color: #e36844;
          margin-top: 30px;
          display: inline-block;
        }
        .rec_p {
          font-size: 20px;
          font-weight: bold;
          width: 200px;
          margin: 20px auto;
          &:hover {
            color: $color;
          }
        }
        .rec_pric {
          font-size: 16px;
          color: rgb(212, 40, 45);
        }
      }
      .rec_item {
        width: 700px;
        float: left;
        .rec_tj {
          width: 223px;
          height: 280px;
          background: #fff;
          margin-left: 10px;
          float: left;
          margin-bottom: 10px;
          .rec_smallimg {
            width: 223px;
            height: 180px;
            border-bottom: 1px solid #ccc;
          }
          img {
            width: 180px;
            @include fangda();
            height: 180px;
          }
          .xrtj {
            height: 20px;
            line-height: 20px;
            color: #fff !important;
            background-color: #e36844;
            margin-top: 4px;
            display: inline-block;
          }
          .rec_p {
            font-size: 14px;
            font-weight: bold;
            width: 190px;
            margin: 2px auto;
            &:hover {
              color: $color;
            }
          }
          .rec_pric {
            font-size: 12px;
            color: rgb(212, 40, 45);
          }
        }
      }
    }
  }
  // 限时购
  .toBuy {
    padding-top: 20px;
    .buytop {
      margin-bottom: 20px;
      .xsg {
        font-size: 28px;
        color: #000;
        font-weight: bold;
        display: block;
        float: left;
        &:hover {
          color: $color;
        }
        float: left;
      }
      .gd {
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: 16px;
      }
    }
    .buy_left {
      position: relative;
      height: 432px;
      width: 224px;
      box-sizing: border-box;
      padding-top: 60px;
      float: left;
      text-align: center;
      cursor: pointer;
      background: url(../img/xsbg.webp) no-repeat;
      .buy_chang {
        font-size: 26px;
        line-height: 48px;
      }
      .buy_jishi {
        font-size: 26px;
        line-height: 80px;
      }
      .buy_time {
        font-size: 24px;
        color: rgb(97, 85, 72);
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 24px;
          color: rgb(244, 240, 234);
          background: rgb(97, 85, 72);
        }
      }
      .lookAll {
        display: inline-block;
        width: 120px;
        height: 30px;
        color: rgb(244, 240, 234);
        line-height: 30px;
        border-radius: 20px;
        background-color: #a7936e;
        margin-top: 60px;
        cursor: pointer;
      }
    }
    .buy_right {
      margin-left: 224px;
      width: 886px;
      height: 429px;
      .buy_item {
        float: left;
        width: 433px;
        height: 214px;
        border: 1px solid #f0ece4;
        border-left: none;
        .buy_leftimg {
          float: left;
          img {
            width: 180px;
            height: 180px;
            @include fangda();
          }
        }
        .buy_rightwz {
          margin-left: 190px;
          padding-top: 14px;
          .buy_topa {
            line-height: 26px;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            &:hover {
              color: $color;
            }
          }
          .spana {
            height: 24px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: #999;
            white-space: nowrap;
          }
          .jindup {
            .jinduspan {
              display: inline-block;
              width: 140px;
              height: 10px;
              box-sizing: border-box;
              border-radius: 5px;
              border: 1px solid $color;
              margin-right: 10px;
              .jindu {
                display: block;
                width: 120px;
                height: 8px;
                border-radius: 5px;
                background-color: $color;
              }
            }
            .hsnum {
              height: 24px;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              color: #999;
              white-space: nowrap;
            }
          }
          .xspirc {
            color: #be4141;
            line-height: 20px;
            margin-top: 20px;
            strong {
              font-size: 24px;
              line-height: 30px;
            }
          }
          .liji {
            display: block;
            width: 118px;
            height: 31px;
            margin-top: 18px;
            line-height: 31px;
            text-align: center;
            font-size: 16px;
            border-radius: 4px;
            color: #fff;
            background-color: #da4f4f;
          }
        }
      }
    }
  }
  // 居家生活
  .family_life {
    padding-top: 60px;
    .family_top {
      h3 {
        font-size: 28px;
        color: #000;
        font-weight: bold;
        display: block;
        float: left;
        cursor: pointer;
        &:hover {
          color: $color;
        }
      }
      .family_p {
        float: right;
        a {
          display: inline-block;
          margin: 16px 16px 0;
          &:hover {
            color: $color;
          }
        }
      }
      .family_chakan {
        float: right;
        margin-left: 50px;
        margin-top: 16px;
        &:hover {
          color: $color;
        }
      }
    }
    .family_jujiaimg {
      display: block;
      margin-top: 20px;
      img {
        width: 100%;
        height: 310px;
      }
    }

    .change {
      .change_item {
        margin-top: 10px;
        width: 1200px;
        // ------------------------------------------------------------------
        li {
          float: left;
          background-color: #fff;
          margin-right: 10px;
          padding-bottom: 6px;
          &:hover {
            background-color: rgb(244, 240, 234);
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
          }
          .change_top {
            display: block;
            img {
              width: 265px;
              height: 265px;
            }
          }
          .change_buttom {
            display: block;
            text-align: center;
            p {
              width: 150px;
              height: 40px;
              text-align: center;
              margin: 0 auto;
              color: #000;
              line-height: 20px;
              &:hover {
                color: $color;
              }
            }
            span {
              color: #d4282d;
            }
          }
        }
      }
    }
  }
  // 大家都在说
  .saybox {
    background: #f4f0ea;
    margin-top: 60px;
    .sayAll {
      position: relative;
      height: 660px;
      padding: 60px 0;
      box-sizing: border-box;
      h3 {
        font-size: 28px;
        color: #000;
        font-weight: bold;
        display: block;
        float: left;
        margin-right: 40px;
      }
      span {
        display: block;
        font-size: 14px;
        margin-top: 18px;
      }
      .saySideBox {
        overflow-x: hidden;
        .saySide {
          min-width: 14600px;
          margin-top: 20px;
          .saySide_item {
            float: left;
            height: 492px;
            margin-right: 10px;
            background: #fff;
            position: relative;
            a {
              width: 355px;
              height: 355px;
              display: block;
              overflow: hidden;
              img {
                width: 355px;
                height: 355px;
                @include fangda();
              }
            }
            .sayLiuyan {
              position: absolute;
              bottom: 0;
              left: 5px;
              box-sizing: border-box;
              width: 345px;
              height: 186px;
              padding: 20px 15px;
              background: #fff;
              .sayName {
                font-size: 12px;
                span {
                  margin-right: 12px;
                  display: inline-block;
                  color: #999;
                  &:nth-child() {
                    font-size: 14px;
                  }
                  &:nth-child(2) {
                    font-size: 12px;
                  }
                }
              }
              .sayhaha {
                h4 {
                  font-size: 16px;
                  color: #333;
                  font-weight: bold;
                  margin-top: 10px;
                  float: left;
                  display: block;
                  width: 200px;
                }
                .saypric {
                  display: block;
                  float: right;
                  color: #b4a078;
                }
              }
              .sayAllyan {
                font-size: 13px;
                margin-top: 16px;
              }
            }
          }
        }
      }
      .sayprev {
        position: absolute;
        left: -60px;
        z-index: 7;
        top: 290px !important;
        width: 50px;
        height: 50px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        opacity: 80;
        border-radius: 25px;
        font-size: 34px;
        background-color: #e2c199;
        text-align: center;
      }
      .saynext {
        position: absolute;
        right: -60px;
        z-index: 7;
        top: 290px !important;
        width: 50px;
        height: 50px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        opacity: 80;
        border-radius: 25px;
        font-size: 34px;
        background-color: #e2c199;
        text-align: center;
      }
    }
  }
  // 客服服务
  .khfw {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 34px;

    height: 300px;
    box-sizing: border-box;
    text-align: center;
    h4 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 28px;
    }
    p {
      text-align: left;
      font-size: 13px;
      line-height: 23px;
      margin-bottom: 22px;
    }
    .kh_left {
      width: 33.33%;
      box-sizing: border-box;
      div {
        width: 80px;
        height: 100px;
        font-size: 14px;
        background-color: #fff;
        padding-top: 25px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #e8e8e8;
        float: left;
        margin: 0 16px;
        &:nth-child(2) {
          margin-left: 80px;
        }
        &:hover {
          color: $color;
        }
        .kh_i1 {
          display: block;
          margin: 0 auto 10px;
          width: 31px;
          height: 26px;
          background-image: url(../img/icon-yxfoot.webp);
          background-repeat: no-repeat;
          background-position: 0 -290px;
        }
        .kh_i2 {
          display: block;
          margin: 0 auto 10px;
          width: 30px;
          height: 27px;
          background-image: url(../img/icon-yxfoot.webp);
          background-repeat: no-repeat;
          background-position: 0 -97px;
        }
      }
    }
    .kh_conent {
      width: 33.33%;
      padding: 0 37px;
      box-sizing: border-box;
      border-left: 1px solid #999;
      border-right: 1px solid #999;
      p {
        .kh_icon1 {
          display: inline-block;
          background-image: url(../img/icon-yxfoot.webp);
          background-repeat: no-repeat;
          background-position: 0 -470px;
          height: 32px;
          width: 32px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .kh_icon2 {
          display: inline-block;
          background-image: url(../img/icon-yxfoot.webp);
          background-repeat: no-repeat;
          background-position: 0 -428px;
          height: 32px;
          margin: 0 5px;
          width: 32px;
          vertical-align: middle;
        }
        .kh_icon3 {
          display: inline-block;
          background-image: url(../img/icon-yxfoot.webp);
          background-repeat: no-repeat;
          background-position: 0 -326px;
          margin: 0 5px;
          height: 32px;
          width: 32px;
          vertical-align: middle;
        }
      }
    }
    .kh_right {
      width: 33.33%;
      img {
        width: 104px;
        height: 104px;
        display: block;
        margin: 0 auto 10px;
      }
      span {
        color: #b4a078;
        font-size: 12px;
      }
    }
  }
}
